# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron
.Rbuildignore

# User-specific files ----
README.html
inst/doc
data/ne_50m_ocean/
data/World_EEZ_v11_20191118_gpkg/
figures/*.svg
